/* útfæra */

nav {
  width:100%;
  list-style: none;
  background-color: black;
  overflow: hidden;
}

nav  a {
  display: block;
	padding: 15px 25px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background: #f00;
}

nav li {
  float:left;
}
