/* útfæra */

nav {
  min-width: 350px;
  padding: 0.625em;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

nav  a {
  width: 20%;
	padding: 15px 25px;
  text-decoration: underline;
}

nav .clicked {
  font-weight: bold;
}

